<!DOCTYPE html>
 <head>
    <meta charset="utf-8">
    <title>Pramod Maharana Official Site</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
   <!--  <link rel="stylesheet" href="css/styles.css" /> -->
        <link rel="stylesheet" href="css/navbar.css" />
    
    
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/jquery.easing.min.js"></script>
    
     <!--user defined js files loaded-->
    <script src="tabs/gallery&Videos/app.js"></script>
    <script src="js/wow.js"></script>
    <!-- <script src="js/scripts.js"></script> -->
    <script src="js/navbar.js"></script>
    
 </head>
 <body  ng-app="anchorScrollOffsetExample">
 	<div class="fixed-header" ng-controller="headerCtrl">
	 	<a href="" ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
	    Go to anchor {{x}}
	    </a>
 	</div>
 	<div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
 		 Anchor {{x}} of 5
	</div>
 </body>